*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
}
* {
	box-sizing: border-box;
  }

html{
	background:url(https://i.redd.it/zdarxtlshg611.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {	

	font-family: "work Sans", sans-serif;
	font-weight: 500;
}


nav{
	width: 90%;
	margin:0 auto;
	list-style:none;
}
.navbar{
	width:100%;
	display:flex;
	justify-content: space-between;
	align-items:center;
	min-height: 10vh;
	font-size:18px;
	letter-spacing: 3px;
	padding:10px 0;
	list-style: none;

}


.navbar a{
	color:#fcfff9;
	text-transform: uppercase;
	text-decoration: none;
}

nav a:hover{
	color:#45A29E;
}


.introduction{
	width: 95%;
	margin:0 auto;
	display: flex;
	justify-content: center;
	align-items:center;
	font-family: 'Bebas Neue', cursive;
	height: 50vh;
	font-size:40px;
	color:#45A29E;
}
.personal-info{
	width: 95%;
	margin:0 auto;
	justify-content: center;
	font-family: 'Bebas Neue', cursive;
	height: 50vh;
	font-size:40px;
	color:#45A29E;
	list-style: none;

}
.my-info{
	text-align: center;
	padding: 50px;
	color:#f1f9ec;
}
h1{
	text-align: center;
	font-size: 100px;
	letter-spacing:5px;
}
h2{
 text-align:center;
 font-family: 'Bebas Neue', cursive;
 font-size:48px;
}

.details{
	margin-left:495px;
	font-family: 'Montserrat', sans-serif;
	width: 50%;
	font-size: 24px;
	color: #f1f9ec;
	line-height: 40px;

}

.celcium{
	padding-top: 3%;
	margin-left:2%;
	padding-bottom: 5%;
}

.details2{
	padding-top: 3%;
	text-align: center;
	margin-left:460px;
	font-family: 'Montserrat', sans-serif;
	width: 50%;
	font-size: 24px;
	color: #f1f9ec;
}
.about{ /* About */
	padding: 30px;
	text-align: center;
	font-family: 'Bebas Neue', cursive;
	font-size: 30px;
}

.text{
	padding-left:5%;
	margin-left:350px;
	width: 60%;
	margin-bottom:5%;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	color: #f1f9ec;
}

.dc-showcase{
	width: 80%;
	padding-left:15%;
	display:flex;
	justify-content: space-between;
	list-style: none;


}

.dc-showcase2{
	width: 90%;
	margin-left:5%;
	padding:3%;
	display:flex;
	justify-content: space-between;
	list-style: none;


}


.showcase{
	color: #f1f9ec;
	position: relative;
	left:800px;
	font-family: 'Bellota', cursive;
	font-size: 22px;


	text-transform: uppercase;
}
.title-bootcamp{
	color:#f1f9ec;
	position: relative;
	bottom:150px;
	text-align: center;
	

}

.pbinfo{
	position: relative;
	width: 75%;
	left:130px;
	font-size:20px;

}

.title2{
	padding-top:200px;
	position: relative;
	color: #f1f9ec;
	width:75%;
	left:130px;
}

.dc-info{
	text-align: center;
	color: #f1f9ec;
	padding-top:5%;
	padding-left:475px;
	padding-bottom: 3%;
	width: 70%;
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;


}

.bespoke{
	position: relative;
	top:480px;
	left:500px;
	width: 50%;
	color:#fcfff9;
	font-size: 19px;

}
h3{
	font-weight: 900;
}

/*project styling */

.project{
	margin-top: 200px;
	letter-spacing: 1px;
}
.title-wrapper h1{
	color:#45A29E;
	text-transform: uppercase;
	font-family: 'Bebas Neue', cursive;
	
}
.hardskill1{
	padding-bottom: 5%;
}

.soft-hard{
	list-style: none;
	text-align: center;
	text-decoration: none;
}

.project-wrapper{
	width: 93%;
	margin: 0 auto;
}
.project-item-container{
	width: 100%;
	

}

.project-item-left{
	width: 60%;
	height: 40%;


}

.project-item-left img{
	margin-left:600px;

}


.Card-personalisation-tool{
	width: 100%;
	padding-top:10%;
	padding-bottom: 10%;
	padding-left:160px;
}



.project-item-container-project-1{
	padding-top:5%;
	margin-left:20px;
	padding-bottom: 5%;
}



.Card-personalisation-tool img{
	margin-left:4%;

}

.Card-personalisation-tool p{
	margin-left:50px;

}

.Card-personalisation-tool h3{
	margin-left:80px;
}

.project-wrapper h2{
	color:#f1f9ec;
	margin-top:10%;
	width: 60%;
	margin-left:20%;
}


.text-prog-boot{
	margin-left: 180px;
}

.movable-link{
	margin-left:120px;
}

.project-item-right{
	color: #fcfff9;
	margin-top: 3%;
	margin-right:3%;
	text-align: center;

}


.project-item-right h3{
	font-size: 36px;
	padding-right:12%;
}

.project-item-right p{
	width: 70%;
	font-size: 19px;
	padding-left:240px;
	text-align: center;
}

.project-item-right a{
	color: #fcfff9;
	font-weight: 700;
	text-decoration: none;
	position: relative;
	padding-bottom:10px;

}
.project-item-right a::before{
	content: "";
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	border: 1px solid #fcfff9;
	opacity: 0;
	width: 0;
	transition: 0.3s all ease-in-out;
}
.project-item-right a:hover:before{
	
	opacity: 1;
	width: 100%;

}
.project-item-right img{
	width: 30%;
	height: 30%;

}
.project-link{
	margin-top: 40px;
	font-size: 22px;
	margin-right:150px;
}
.project-1{
	margin-top: 100px;
}

.item-left{
	position: relative;
	left:60px;

}
.bespoke-content{
	display:flex;
}
.right-obj{
margin-top:6%;
padding-left:4%;

}

.left-obj{
	color:#fcfff9;
	margin-top:4%;
	padding-left:4%;
}
.project-description{
	padding-right:10%;
	font-size: 18px;
	padding-bottom: 25px;
}

.cpt-description{
	padding-right:10%;
	font-size: 18px;	
}

.cpt-final{
	width: 90%;
	list-style:none;
	padding-top:5%;
	padding-left: 9%;
	margin-left:55px;
}
.cpt-gallery{
	width: 100%;
	display:flex;
	justify-content: space-between;
	list-style: none;

}

.project-item-container-project2{
	margin-left: 77px;
	padding-top:5%;
	padding-bottom: 7%;
}

.dc-text-o{
	margin-left:120px;
}

.last-link{
	margin-left:80px;
}



.persona{
	margin-top:10%;
}

.persona h2{
	position: relative;
	bottom: 25px;
	color:#f1f9ec;
	font-size: 45px;
}

.persona img{
	position: relative;
	left:440px
}


.research-tech{
	width: 97%;
	color:#f1f9ec;
	margin-top:150px;
	display:flex;
}


.research-tech img{
	margin-top:80px;
	margin-left:39%;
	padding: 1%;
	justify-content: space-between;
	list-style: none;
}

.tittle-bespoke-kms{
	position: relative;
	top:200px;
	color:#f1f9ec;
}

.text-explanation{
	padding-top: 5%;
	color:#f1f9ec;
	padding-left: 4%;
	width: 90%;
	text-align: center;
}
.text-explanation p{
	color:#fcfff9;
	font-size: 24px;
	padding-bottom: 1%;
	padding-top: 1%;
	;
}

.details3{
	padding-top: 4%;
	text-align: center;
	margin-left:440px;
	font-family: 'Montserrat', sans-serif;
	width: 50%;
	font-size: 21px;
	color: #f1f9ec;
}

