*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
}

.head1{
	margin:50px;
	font-family: 'Bebas Neue', cursive;
	text-align: center;
	font-size:40px;
	color:#45A29E;
}

body {
	background-color: #BEBEBE;
	font-family: "work Sans", sans-serif;
	font-weight: 500;
	background-image:url("../assets/pic1.jpg");
	background-repeat: no-repeat;
}

.containermain{
	text-align: center;
	/*background-color: #EAEDED;*/
	border:solid black;
}

.container{
	font-family: 'Bebas Neue', cursive;
	width: 96%;
	height: 70px;
	padding-left:1%;
	margin:0px;
	font-size:20px;
	color:#45A29E;
	text-align: center;
	list-style: none;


}

section{
	border-style:solid;
	border-width:5px;
	color:black;
	font-family: 'Bebas Neue', cursive;
}

header{
	background-color:#45A29E;
}

/*.navbar{
	display: flex;
	align-items: center;
	min-height: 7vh;
	font-size:18px;
	letter-spacing: 3px;

}*/

.navbar{
	display:flex;
	justify-content: space-around;
	align-items:center;
	min-height: 8vh;
	font-size:18px;
	letter-spacing: 3px;
	margin:-60px;
	margin: 0;
	padding:10;
	list-style: none;

}


nav a{
	color:#252525;
	text-transform: uppercase;
	text-decoration: none;
}

nav a:hover{
	color:#45A29E;
}

}
article{
	text-align: center;
	font-size: 25px;
	border:solid black;
	margin:100px;


}

/*@media screen and (max-width: 657px){
	body{font-size:50%;
	
	}
}


/*@media screen and (max-width: 768px){

	.navbar{
		width:20%;
		/*
		position: left;
		right:0px;
		height:92vh;
		top:8vh;
		display:flex;
		flex-direction: column;
		align-items: center;
		width: 50%
		transform: translateX(100%);*/

	}
}


