*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
}
* {
	box-sizing: border-box;
  }

html{
	background:url(https://i.redd.it/zdarxtlshg611.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {	

	font-family: "work Sans", sans-serif;
	font-weight: 500;;
}


nav{
	width: 95%;
	margin:0 auto;
	list-style:none;
}
.navbar{
	width:100%;
	display:flex;
	justify-content: space-around;
	align-items:center;
	min-height: 10vh;
	font-size:18px;
	letter-spacing: 3px;
	padding:10px 0;
	list-style: none;

}


.navbar a{
	color:#fcfff9;
	text-transform: uppercase;
	text-decoration: none;
}

nav a:hover{
	color:#45A29E;
}


.introduction{
	width: 95%;
	margin:0 auto;
	display: flex;
	justify-content: center;
	align-items:center;
	font-family: 'Bebas Neue', cursive;
	height: 50vh;
	font-size:40px;
	color:#45A29E;
}
.personal-info{
	width: 95%;
	margin:0 auto;
	padding:100px;
	justify-content: center;
	font-family: 'Bebas Neue', cursive;
	height: 50vh;
	font-size:40px;
	color:#45A29E;
	list-style: none;

}
.my-info{
	text-align: center;
	padding: 50px;
	color:#f1f9ec;
}
h1{
	text-align: center;
	font-size: 100px;
	letter-spacing:5px;
}
h2{
 text-align:center;
 font-family: 'Bebas Neue', cursive;
 font-size:48px;
}


.details{
	position: relative;
	left:482px;
	font-family: 'Montserrat', sans-serif;
	width: 50%;
	font-size: 24px;
	color: #f1f9ec;

}
.about{ /* About */
	padding: 30px;
	text-align: center;
	font-family: 'Bebas Neue', cursive;
	font-size: 30px;
}

.text{
	position: relative;
	left:25%;
	font-family: 'Montserrat', sans-serif;
	width: 50%;
	font-size: 24px;
	color: #f1f9ec;
}
	
.works{
	position: relative;
	top:60px;
	left:280px;
	display:grid;
	grid-template-columns: repeat(4, 5fr);
	grid-template-rows: 60px;
}

.title1{
	position: relative;
	top:80x;

}

.pbinfo{
	position: relative;
	width: 80%;
	left:130px;

}